<% provide(:title, "Todo") %>

<div class="row">
  <aside class="col-md-4">
    <h1 style="text-align: left;"><%= @todo.title %></h1>
    <h2 style="text-align: left;">Deadline: <%= @todo.deadline %></h2>
    <p style="text-align: left;"><%= link_to "Edit", edit_todo_url(params[:id]), id: "quicklink" %></p>
    <p style="text-align: left;"><%= link_to "Delete", todo_url(params[:id]), method: :delete, data: { confirm: "Are you sure?" }, id: "quicklink" %></p>
  </aside>
  <h2 style="text-align: left; padding-left: 404px;"><i>Items completed: <%= @completed_items_count %> / <%= @items_count %></i></h2>
  <h4 class="item-count"><%= link_to "Add item", new_todo_item_path(todo_id: params[:id], todo_title: @title), id: "quicklink" %></h4>
  <% if @items_count > 0 %>
    <div class="col-md-8 page-top">
      <ol id="item-list-numbers">
        <%= render partial: 'items/item', collection: @all_items, as: :item %>
      </ol>
    </div>
  <% end %>
</div>

